<!DOCTYPE html>
<html>
<title>Flash com Jinja2</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<style>
  .w3-tangerine {
    font-family: 'Tangerine', serif;
  }
</style>
<body>

<div class="w3-container">
  <h2 class="w3-center w3-tangerine w3-jumbo">Lista de pessoas</h2>

  {% if nomes|length and sobrenomes|length and nomesCompletos|length %}
  <table class="w3-table-all" style="max-width:50%; margin: auto;">
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Nome completo</th>
    </tr>
    {% for nome in nomes %}
    <tr>
      <td>{{ nome }}</td>
      <td>{{ sobrenomes[loop.index0]}}</td>
      <td>{{ nomesCompletos[loop.index0]}}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <strong class="w3-center">Nenhum pessoa encontrada</strong>
  {% endif %}
</div>

</body>
</html>
