<!DOCTYPE html>
<html>
<title>Flask Cookies - setcookie</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div style="max-width:50%; margin: auto;" class="w3-container">
    <h1>Cookie foi inserindo com nome testecookie </h1>
    <a href="/getcookie">Veja o cookie</a>
</div>


</body>
</html> 
